### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
db.json
fake_data/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
!media/image/.gitkeep
media/image/*
log/

# Environments
.env
.venv
.env.*
env/
venv/
ENV/
env.bak/
venv.bak/

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


### JetBrains template
.idea/
.idea

### VisualStudioCode template
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

.node_modules/
node_modules/
/dist


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

